body {
    position: relative;
    padding: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.card {
    border: 1px solid gainsboro;
    border-radius: 2%;
    display: flex;
    flex-direction: row;
    width: auto;
    padding: 20px 10px;
    gap: 20px;
}

.text-container>* {
    margin: 5px;
}

.grid-container {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;

}

.avatar {
    width: 100px;
    height: 100px;
    size: small;
    border-radius: 50%;
}

.email,
.address,
.text-container>p {
    color: rgb(178, 186, 192);
}

.text-container>* {
    margin: 10px;
}

hr {
    margin: 15px;
}

.modal-close {
    background-color: white;
    border-style: hidden;
}